<table class="user-portfolio-toptable" style="width: 100%;">
  <thead class="user-portfolio-head1" >
    <tr>
      <th>Date</th>
      <th>Stock Name</th>
      <th>Advisor</th>
      <th>Broker</th>
      <th>Quantity</th>
      <th>Selling Price</th>
      <th>RM Status</th>
      <th>Acc Status</th>
      <th>ST Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr style="background: {% cycle '#f5f9ff' 'white' %};">
      <td>
        {{ order.timestamp|date:"Y-m-d H:i" }}
        {% if order.timestamp|time:"H" >= "18" %}
          <div class="text-muted" style="font-size:11px">Processed next day 11:00 AM</div>
        {% endif %}
      </td>
      <td>{{ order.stock.company_name }}</td>
      <td>{{ order.advisor.advisor_type|default:"Others" }}</td>
      <td>{{ order.broker.name|default:"N/A" }}</td>
      <td>{{ order.quantity }}</td>
      <td>₹{{ order.selling_price|default:"-" }}</td>
      <td>{{ order.RM_status }}</td>
      <td>{{ order.AC_status }}</td>
      <td>{{ order.status }}</td>
    </tr>
    {% empty %}
      <tr><td colspan="7" class="text-center p-3">No sell orders found.</td></tr>
    {% endfor %}
  </tbody>
</table>
