
{% load static %}  
<div id="header"></div>


  <section class="overall">


    <div class="why-trade-section">
      <div class="why-trade-header">
        <h1 class="section-title">Why Trade With Us?</h1>
        <p class="section-description">
          We offer a secure, transparent, and hassle-free platform for buying and selling unlisted shares and ESOPs.
          With expert guidance, fair pricing, and a strong investor network, we ensure smooth transactions and high
          liquidity for a seamless trading experience.
        </p>
      </div>


      <div class="why-trade-overall">
        <div class="why-trade-row">
          <div class="trade-card">
            <h6 class="trade-card-header">Buyer-Seller Interaction</h6>
            <p class="trade-card-content">Our unique plateform ensures a
              transparent interactiom/negotiation
              between buyers and sellers.</p>
          </div>
          <div class="trade-card">
            <h6 class="trade-card-header">Enhanced Liquidity</h6>
            <p class="trade-card-content">Shareholders of unlisted companies can get easy and quick liquidity through
              our platform</p>
          </div>
        </div>

        <div class="why-trade-image">
          <img src="{%  static 'Media/images/trade-img.png' %}" alt="Trading platform illustration">
        </div>

        <div class="why-trade-row bottom-row">
          <div class="trade-card">
            <h6 class="trade-card-header">Secured via Bank Escrow</h6>
            <p class="trade-card-content">The transaction is secured through a bank escrow mechanism that safeguards
              your transactions</p>
          </div>
          <div class="trade-card">
            <h6 class="trade-card-header">Easy to Access</h6>
            <p class="trade-card-content">Now you can explore companies. negotiate and conclude you transaction at ease
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="listed">
      <div class="hero-headers">
        <h1 class="heading">Companies Listed On Our Platform</h1>
      </div>
      <div class="listed-row1">
        <a href=""><img src="{%  static 'Media/images/hdb.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/cap.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/apb.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/abib.png' %}" alt=""></a>
      </div>
      <div class="listed-row2">
        <a href=""><img src="{%  static 'Media/images/tac.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/nyr.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/oyo.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/hexa.png' %}" alt=""></a>
      </div>
      <div class="listed-row3">
        <a href=""><img src="{%  static 'Media/images/sbif.png' %}" alt=""></a>
        <a href=""><img src="{%  static 'Media/images/nse.png' %}" alt=""></a>
      </div>
      <div class="viewall3">
        <button class="viewallbtn3">View All Listings</button>
      </div>
    </div>

    <div class="investing-steps">
      <h1 class="investing-title">Start Investing in Unlisted Companies In Few Easy steps</h1>
      <div class="investing-cards">
        <div class="investing-card">
          <img src="{% static 'Media/images/user-plus.png' %}" alt="">
          <h1 class="investing-card-heading">Join Our Plateform</h1>
          <p class="investing-card-paragraph">Sign up and fill out the necessary details
            Complete your KYC details and be Trade ready</p>
        </div>
        <div class="investing-card">
          <img src="{% static 'Media/images/box.png' %}" alt="">
          <h1 class="investing-card-heading">Join Our Plateform</h1>
          <p class="investing-card-paragraph">Sign up and fill out the necessary details
            Complete your KYC details and be Trade ready</p>
        </div>
        <div class="investing-card">
          <img src="{% static 'Media/images/high-arrow.png' %}" alt="">
          <h1 class="investing-card-heading">Join Our Plateform</h1>
          <p class="investing-card-paragraph">Sign up and fill out the necessary details
            Complete your KYC details and be Trade ready</p>
        </div>
        <div class="investing-card">
          <img src="{% static 'Media/images/bank.png' %}" alt="">
          <h1 class="investing-card-heading">Join Our Plateform</h1>
          <p class="investing-card-paragraph">Sign up and fill out the necessary details
            Complete your KYC details and be Trade ready</p>
        </div>
        <div class="investing-card">
          <img src="{% static 'Media/images/transaction.png' %}" alt="">
          <h1 class="investing-card-heading">Join Our Plateform</h1>
          <p class="investing-card-paragraph">Sign up and fill out the necessary details
            Complete your KYC details and be Trade ready</p>
        </div>
      </div>
    </div>


    <div class="faq-section">
      <h1 class="faq-title">Frequently Asked Questions</h1>

      <p class="faq-paragraph">Welcome to company name, your one-stop destination for all Pre-IPO shares in India.
        Here's everything you need to know about Pre-IPO shares, how to invest in them, and the top Pre-IPO shares
        available in India.</p>
      <h1 class="faq-heading">What are Pre-IPO Shares?</h1>
      <p class="faq-paragraph">Pre-IPO shares are stocks of a company that are available for purchase before the
        company goes public and lists its shares on a stock exchange. Companies may offer Pre-IPO shares to investors,
        such as venture capitalists, angel investors, and high net worth individuals, in order to raise capital before
        going public. Investing in Pre-IPO shares can offer high potential returns, but also comes with high risk.</p>
      <p class="faq-paragraph">At company name, we provide a comprehensive list of Pre-IPO shares available in India,
        including information on the company, sector, valuation, and investment amount. Our easy-to-use table allows you
        to filter and sort the list based on your preferences and investment criteria.</p>
      <h1 class="faq-heading">How to Invest in Pre-IPO Shares?</h1>
      <p class="faq-paragraph">Investing in Pre-IPO shares requires a thorough understanding of the company's
        financials, business model, and growth potential. At company name, our team of experts conducts extensive due
        diligence on each Pre-IPO share listed on our platform, providing you with all the information you need to make
        an informed investment decision. Our platform also makes it easy for you to invest in Pre-IPO shares with just a
        few clicks.</p>
    </div>


    <!-- <div class="accordion-overall" id="accordionOverall">
      <div class="accordionc1">
        <div class="accordion" id="accordionLeft">
          <div class="accordion-item">
            <h2 class="accordion-header" id="leftHeading1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#leftCollapse1"
                aria-expanded="true" aria-controls="leftCollapse1">
                What is unlisted Share?
              </button>
            </h2>
            <div id="leftCollapse1" class="accordion-collapse collapse show" aria-labelledby="leftHeading1"
              data-bs-parent="#accordionLeft">
              <div class="accordion-body">An unlisted share is a stock of a company that is not traded on formal stock
                exchanges but can be bought or sold through over-the-counter (OTC) markets. These shares often belong to
                startups or private firms.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="leftHeading2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#leftCollapse2" aria-expanded="false" aria-controls="leftCollapse2">
                What is pre ipo?
              </button>
            </h2>
            <div id="leftCollapse2" class="accordion-collapse collapse" aria-labelledby="leftHeading2"
              data-bs-parent="#accordionLeft">
              <div class="accordion-body">Pre-IPO shares are company stocks offered to investors before the company goes
                public. They allow early access at potentially lower prices but come with higher risk.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="leftHeading3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#leftCollapse3" aria-expanded="false" aria-controls="leftCollapse3">
                What is delisted stocks?
              </button>
            </h2>
            <div id="leftCollapse3" class="accordion-collapse collapse" aria-labelledby="leftHeading3"
              data-bs-parent="#accordionLeft">
              <div class="accordion-body">Delisted stocks are shares removed from a stock exchange, often due to
                non-compliance or voluntary action. They can still be traded OTC but with less liquidity and more risk.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="leftHeading4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#leftCollapse4" aria-expanded="false" aria-controls="leftCollapse4">
                Is it legal to buy pre ipo shares?
              </button>
            </h2>
            <div id="leftCollapse4" class="accordion-collapse collapse" aria-labelledby="leftHeading4"
              data-bs-parent="#accordionLeft">
              <div class="accordion-body">Yes, buying pre-IPO shares is legal if done through authorized platforms or
                intermediaries. However, it involves higher risk and limited regulatory oversight.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="leftHeading5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#leftCollapse5" aria-expanded="false" aria-controls="leftCollapse5">
                Can i buy and sell Share?
              </button>
            </h2>
            <div id="leftCollapse5" class="accordion-collapse collapse" aria-labelledby="leftHeading5"
              data-bs-parent="#accordionLeft">
              <div class="accordion-body">Yes, you can buy and sell shares through a registered broker or trading
                platform. It's important to have a Demat and trading account to do so legally.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordionc2">
        <div class="accordion" id="accordionRight">
          <div class="accordion-item">
            <h2 class="accordion-header" id="rightHeading1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rightCollapse1"
                aria-expanded="true" aria-controls="rightCollapse1">
                Can unlisted shares be sold?
              </button>
            </h2>
            <div id="rightCollapse1" class="accordion-collapse collapse show" aria-labelledby="rightHeading1"
              data-bs-parent="#accordionRight">
              <div class="accordion-body">Yes, unlisted shares can be sold through private deals or platforms dealing in
                unlisted securities, though with less liquidity and regulatory oversight than listed ones.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="rightHeading2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#rightCollapse2" aria-expanded="false" aria-controls="rightCollapse2">
                How do ESOP shares work?
              </button>
            </h2>
            <div id="rightCollapse2" class="accordion-collapse collapse" aria-labelledby="rightHeading2"
              data-bs-parent="#accordionRight">
              <div class="accordion-body">ESOP (Employee Stock Ownership Plan) shares allow employees to earn company
                stock, often at a discounted rate, as part of their compensation—vesting over time to encourage
                retention.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="rightHeading3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#rightCollapse3" aria-expanded="false" aria-controls="rightCollapse3">
                What are Illiquid Shares?
              </button>
            </h2>
            <div id="rightCollapse3" class="accordion-collapse collapse" aria-labelledby="rightHeading3"
              data-bs-parent="#accordionRight">
              <div class="accordion-body">Illiquid shares are stocks that cannot be easily sold or exchanged for cash
                due to low trading volume—making it hard to find buyers quickly.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="rightHeading4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#rightCollapse4" aria-expanded="false" aria-controls="rightCollapse4">
                What happens if a stock gets delisted?
              </button>
            </h2>
            <div id="rightCollapse4" class="accordion-collapse collapse" aria-labelledby="rightHeading4"
              data-bs-parent="#accordionRight">
              <div class="accordion-body">If a stock gets delisted, it stops trading on major exchanges and can only be
                sold over-the-counter, often leading to reduced liquidity and lower investor confidence.</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="read-more">
      <button class="read-btn"><a href="{%  url 'faq' %}" class="custom-btnM">Read More</a></button>
    </div>
    <div class="blogs">
      <div class="blog-title-section">
        <h1 class="blog-title">Blogs</h1>
      </div>
      <div class="all-blogs">
        <div class="blog-container">
          <a href="{%  url 'blog' %}"><img class="blog-img" src="{%  static 'Media/images/unlistedstock-blog.jpg' %}" alt=""></a>
          <h1 class="blog-head">📈 Benefits of Investing in Unlisted Shares</h1>
          <p class="blog-para">Early-Stage Investment Get in early on promising companies before they go public. High Growth Potential Once listed, the valuation of such stocks can surge dramatically. </p>
        </div>
        <div class="blog-container">
          <a href="{%  url 'blog' %}"><img class="blog-img" src="{%  static 'Media/images/csk-blog.jpg' %}" alt=""></a>
          <h1 class="blog-head">🟡 What Are CSK Unlisted Shares?</h1>
          <p class="blog-para">Chennai Super Kings Cricket Ltd (CSKCL) is the company that owns the CSK IPL franchise. After being demerged from India Cements Ltd in 2015, CSK became a separate entity.</p>
        </div>
        <div class="blog-container">
          <a href="{%  url 'blog' %}"><img class="blog-img" src="{%  static 'Media/images/hdfc-blog.jpg' %}" alt=""></a>
          <h1 class="blog-head">🟡 What Are CSK Unlisted Shares?</h1>
          <p class="blog-para">HDFC Securities Ltd is a leading stock broking and financial services company in India. It is a subsidiary of HDFC Bank, one of the country’s most respected and profitable private banks.</p>
        </div>
      </div>
      <div class="read-more">
        <a href="{%  url 'blog' %}"><button class="read-btn">Read More</button></a>
      </div>
    </div>

    <div class="carasoul">
      <div class="carasoul-title-section">
        <h1 class="carasoul-title ">Trusted By Investors</h1>
      </div>
      <div class="carousel-container">
        <div class="carousel-track" id="carouselTrack">
          <!-- Testimonial 1 -->
          <div class="testimonial-card">
            <div class="testimonial-icon">
              <div><img src="{% static 'Media/images/rating.png' %}" alt=""></div>
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Seamless and trustworthy experience! The process was smooth, and the team provided excellent support
                throughout.
              </p>
              <div class="testimonial-author">
                <span class="author-name">Pradip</span>
                <span class="author-profession">Investors</span>
              </div>
            </div>
          </div>

          <!-- Testimonial 2 -->
          <div class="testimonial-card">
            <div class="testimonial-icon">
              <div><img src="{% static 'Media/images/rating.png' %}" alt=""></div>
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Reliable platform with fair pricing. I felt confident trading unlisted shares with their expert
                guidance.
              </p>
              <div class="testimonial-author">
                <span class="author-name">Kiran</span>
                <span class="author-profession">Investors</span>
              </div>
            </div>
          </div>

          <!-- Testimonial 3 -->
          <div class="testimonial-card">
            <div class="testimonial-icon">
              <div><img src="{% static 'Media/images/rating.png' %}" alt=""></div>
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Great service and transparency! They ensured a hassle-free transaction with prompt responses and secure
                dealings
              </p>
              <div class="testimonial-author">
                <span class="author-name">Omkar</span>
                <span class="author-profession">Investors</span>
              </div>
            </div>
          </div>

          <!-- Duplicates for infinite effect -->
          <div class="testimonial-card">
            <div class="testimonial-icon">
              <div><img src="{% static 'Media/images/rating.png' %}" alt=""></div>
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Seamless and trustworthy experience! The process was smooth, and the team provided excellent support
                throughout.
              </p>
              <div class="testimonial-author">
                <span class="author-name">Pradip</span>
                <span class="author-profession">Investors</span>
              </div>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-icon">
              <div><img src="{% static 'Media/images/rating.png' %}" alt=""></div>
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Reliable platform with fair pricing. I felt confident trading unlisted shares with their expert
                guidance.
              </p>
              <div class="testimonial-author">
                <span class="author-name">Kiran</span>
                <span class="author-profession">Investors</span>
              </div>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-icon">
              <div><img src="{% static 'Media/images/rating.png' %}" alt=""></div>
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Great service and transparency! They ensured a hassle-free transaction with prompt responses and secure
                dealings
              </p>
              <div class="testimonial-author">
                <span class="author-name">Omkar</span>
                <span class="author-profession">Investors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="started">
      <div class="started-title-section">
        <h1 class="started-title">Lets Get You Started</h1>
        <p class="started-paragraph">Excellent plateform and very easy and takes less than few minutes to “Sell” and
          “Buy” Unlisted Shares</p>
        <button class="started-btn">Join Our Platform</button>
      </div>
  </section>



  <div id="footer"></div>





