{% extends "accounts/profile.html" %}
{% block title %}My Profile{% endblock %}

{% block profile_content %}
    <!-- <div style="margin: auto; background: white; border-radius: 10px; max-width: 600px; overflow: hidden;">  -->
      <div style="max-width: 1000px; margin: auto; background: white; padding: 20px; border-radius: 10px;">
        <h3 style="color: #1a3e6e;">Statement Paper List</h3>

        <div style="margin-bottom: 15px;">
            Coming Soon
          <!-- <input type="text" placeholder="Search or type command..." style="padding: 8px 12px; width: 50%; border-radius: 5px; border: 1px solid #ccc;"> -->
          
            <!-- <button style="margin-left: 10px; background: none; border: none; font-weight: bold; cursor: pointer;">Buy Order</button>

          <span style="margin-left: 10px; color: #333;">|</span>

          <button style="margin-left: 10px; color: green; background: none; border: none; font-weight: bold; cursor: pointer;">Sell Order</button> -->
        </div>

      </div>
    <!-- </div> -->
{% endblock %}