{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<style>
        
.stock-page-header {
    text-align: center;
    margin-bottom: 20px;
    padding: 75px;
    background-color: #f8f9fa; /* Light gray background */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    color: aliceblue;
    background: radial-gradient(
    64.54% 23.63% at 69.24% 61.54%,
    #271b3f 0%,
    #271b3f 43.09%,
    #341a47 68.59%,
    #0e213f 100%
  );
} 
  

.blog-containerM {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem 1rem;
      }

      .content-wrapper {
        max-width: 1240px;
        width: 100%;
      }

      .blog-title {
        font-size: 45px;
        color: #363636;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
      }

      .blog-intro {
        font-size: 18px;
        color: #000;
        margin-bottom: 2rem;
      }

      .section-title {
        font-size: 22px;
        color: #000;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      .section-text {
        font-size: 18px;
        color: #000;
        margin-bottom: 2rem;
      }

      .button-container {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
      }

      .primary-button {
        background-color: #0e213f;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        padding: 14px 41px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      .faq-title {
        font-size: 45px;
        color: #363636;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
      }

      .faq-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
        margin-bottom: 4rem;
      }

      @media (max-width: 991px) {
        .faq-grid {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }

      .faq-item {
        border: 1px solid #000;
        border-radius: 5px;
      }

      .faq-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
      }

      .faq-question {
        font-size: 18px;
        color: #363636;
        font-weight: 700;
      }

      .testimonials-title {
        font-size: 45px;
        color: #363636;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
      }

      .testimonials-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2rem;
        margin-bottom: 4rem;
      }

      @media (max-width: 991px) {
        .testimonials-grid {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }

      .testimonial-card {
        border: 1px solid #0e213f;
        border-radius: 20px;
        padding: 1.5rem;
      }

      .testimonial-text {
        font-size: 18px;
        color: #000;
        margin-bottom: 1rem;
      }

      .testimonial-name {
        font-size: 20px;
        color: #000;
      }

      .testimonial-role {
        font-size: 14px;
        color: #000;
      }

      .cta-section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .cta-title {
        font-size: 45px;
        color: #363636;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
      }

      .cta-text {
        font-size: 18px;
        color: #000;
        text-align: center;
        margin-bottom: 2rem;
      }

      .cta-button {
        background-color: #0e213f;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        padding: 0.75rem 43px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      .rating-image {
        width: 80px;
        height: 80px;
        margin-bottom: 1rem;
      }
</style>

<div class="stock-page-header">
    <h2>Frequently Asked Questions</h2>

</div>

<main class="blog-containerM">
    <article class="content-wrapper">

    <div class="hero-section">
        <h1 class="hero-section-title">FAQ's</h1>
    </div>
    <div class="fullpage">
        <p class="paragraph">Welcome to wwipl.com, your one-stop destination for all Pre-IPO shares in India. Here's
            everything you need to know about Pre-IPO shares, how to invest in them, and the top Pre-IPO shares
            available in India.</p>
        <h1 class="title">What are Pre-IPO Shares?</h1>
        <p class="paragraph">Pre-IPO shares are stocks of a company that are available for purchase before the company
            goes public and lists its shares on a stock exchange. Companies may offer Pre-IPO shares to investors, such
            as venture capitalists, angel investors, and high net worth individuals, in order to raise capital before
            going public. Investing in Pre-IPO shares can offer high potential returns, but also comes with high risk.
        </p>
        <h1 class="title">Pre-IPO Stock List</h1>
        <p class="paragraph">At wwipl.com, we provide a comprehensive list of Pre-IPO shares available in India,
            including information on the company, sector, valuation, and investment amount. Our easy-to-use table allows
            you to filter and sort the list based on your preferences and investment criteria.
        </p>
        <h1 class="title">How to Invest in Pre-IPO Shares?</h1>
        <p class="paragraph">Investing in Pre-IPO shares requires a thorough understanding of the company's financials,
            business model, and growth potential. At wwipl.com, our team of experts conducts extensive due diligence on
            each Pre-IPO share listed on our platform, providing you with all the information you need to make an
            informed investment decision. Our platform also makes it easy for you to invest in Pre-IPO shares with just
            a few clicks.
        </p>
        <h1 class="title">Top Pre-IPO Shares in India</h1>
        <p class="paragraph">Based on our research and analysis, here are the top Pre-IPO shares available in India :
        </p>
        <h1 class="title">BOAT Pre IPO Shares</h1>
        <p class="paragraph">BOAT is a popular consumer electronics brand in India that offers high-quality headphones,
            earphones, speakers, and other audio accessories. The company has gained a strong foothold in the Indian
            market and is now expanding to other countries. BOAT's Pre-IPO shares are a promising investment option for
            those who believe in the brand's growth potential.
        </p>
        <h1 class="title">OYO Pre IPO Shares</h1>
        <p class="paragraph">OYO is one of the fastest-growing hotel chains in the world, with a presence in over 80
            countries. The company has disrupted the hospitality industry with its innovative business model and is now
            poised for exponential growth. OYO's Pre-IPO shares are a great investment option for those who believe in
            the company's vision and growth trajectory.
        </p>
        <h1 class="title">Lava Mobile Pre IPO Shares</h1>
        <p class="paragraph">Lava Mobile is a leading Indian smartphone brand that offers affordable yet high-quality
            devices. The company has a strong distribution network and a loyal customer base in India. Lava Mobile's
            Pre-IPO shares are a great investment option for those who believe in the company's ability to capture a
            larger market share in the highly competitive Indian smartphone market.
        </p>
        <h1 class="title">Mobikwik Pre IPO Shares</h1>
        <p class="paragraph">Mobikwik is a digital payments platform that offers a range of services, including mobile
            recharges, bill payments, and money transfers. The company has a strong user base and has been growing
            rapidly in recent years. Mobikwik's Pre-IPO shares are a promising investment option for those who believe
            in the company's ability to capitalize on the growing digital payments market in India.
        </p>
        <h1 class="title">Pharmeasy Pre IPO Shares</h1>
        <p class="paragraph">Pharmeasy is an online pharmacy platform that offers a wide range of healthcare products
            and services. The company has gained a strong foothold in the Indian market and is now expanding to other
            countries. Pharmeasy's Pre-IPO shares are a great investment option for those who believe in the company's
            vision to transform the healthcare industry in India.
        </p>
        <h1 class="title">Care Healthcare Pre IPO Shares</h1>
        <p class="paragraph">Care Healthcare is one of the leading healthcare providers in India, offering a wide range
            of services, including hospitals, diagnostics, and day care facilities. The company has a strong presence in
            the Indian healthcare market and is known for its high-quality services and patient-centric approach. Care
            Healthcare's Pre-IPO shares are a great investment option for those who believe in the company's growth
            potential and the increasing demand for healthcare services in India</p>
        <h1 class="title">National Stock Exchange of India (NSE) Pre IPO Shares</h1>
        <p class="paragraph2">The National Stock Exchange of India (NSE) is the leading stock exchange in India, with a
            market share of over 90%. The exchange offers a wide range of services, including equities, derivatives, and
            currency trading, and has a strong technological infrastructure. NSE's Pre-IPO shares are a highly promising
            investment option for those who believe in the growth potential of the Indian stock market and the
            increasing demand for financial services in India.
        </p>
        <p class="paragraph2">Investing in Pre-IPO shares can be a lucrative opportunity for investors, but it also
            comes with high risk. It's important to conduct thorough research and analysis before making any investment
            decisions. At wwipl.com, we provide you with all the information and resources you need to make informed
            investment decisions. Join us today and start investing in the next big thing!
        </p>
        <p class="paragraph2">Welcome to wwipl.com your one-stop destination for all queries related to Delisted Shares
            in India, here you can find comprehensive information about delisted stocks in India. 
        </p>
        <p class="paragraph2">Delisted shares refer to the shares of a company that have been removed from the
            recognized stock exchange due to various reasons such as bankruptcy, mergers, acquisitions, Buyback, etc.
        </p>
        <p class="paragraph">If you're looking for a list of delisted stocks in India, you've come to the right place.
            We provide information on the list of delisted stocks on both the National Stock Exchange (NSE) and the
            Bombay Stock Exchange (BSE).
        </p>
        <h1 class="title">Delisted Shares Price List in India:</h1>
        <p class="paragraph1">We provide you with the latest delisted shares price list that includes the current market
            capitalisation of the delisted shares.
        </p>
        <p class="paragraph">We provide you with the latest delisted shares price list that includes the current market
            capitalisation of the delisted shares.
        </p>
        <h1 class="title">List of Delisted Stocks NSE/BSE:</h1>
        <p class="paragraph1">Our team at company name has compiled a detailed list of delisted stocks, & companies that
            have
            been delisted from the Indian stock exchanges NSE and BSE.
        </p>
        <p class="paragraph">Our delisted stock list includes information on the name of the company, the reason for
            delisting, the date of delisting, and other relevant details. This list of delisted stocks can help you make
            informed investment decisions.
        </p>
        <h1 class="title">Here are some potential advantages of investing in delisted shares:</h1>
        <p class="paragraph2">1. Lower prices: Delisted shares are usually cheaper than their listed counterparts, which
            can make them attractive to investors looking for bargain opportunities and value investing.
        </p>
        <p class="paragraph2">2. Higher returns: In some cases, delisted shares can offer higher returns than their
            listed counterparts because they are less liquid and rarely available, and therefore, less actively traded.
            This means that the price may not fully reflect the underlying value of the company, and there may be
            opportunities for value investing.
        </p>
        <p class="paragraph2">3. Special situations: Companies may delist for a variety of reasons, such as going
            private, merging with another company, or being acquired by a larger entity. These special situations can
            create unique investment opportunities that are not easily available with listed shares.
        </p>
        <p class="paragraph2">4. Reduced regulation: Delisted shares are often subject to less regulatory scrutiny,
            which can be advantageous for investors who are willing to accept higher risk for potentially higher
            rewards.
        </p>
        <p class="paragraph">5. Potentially undervalued assets: In some cases, delisted shares may still represent
            ownership in valuable assets, such as real estate or intellectual property, that may not be fully reflected
            in the share price. As such, delisted shares can offer a way to invest in undervalued assets that may have
            long-term potential.
        </p>
        <h1 class="title">Here are some potential risks involved in investing in delisted shares.:</h1>
        <p class="paragraph2">1. Illiquidity: Delisted shares are usually less liquid than listed shares, which means
            that it can be difficult to find a buyer or seller, and the bid-ask spread may be wider. This can make it
            difficult to sell your delisted shares quickly, which can lead to losses.
        </p>
        <p class="paragraph2">2. Lack of information: Delisted companies may not be required to provide regular
            financial reports and disclosures to the public, which can make it difficult to evaluate the company's
            financial health and future prospects. As such, investing in delisted shares can require more research and
            analysis than investing in listed shares.
        </p>
        <p class="paragraph2">3. High volatility: Delisted shares can be subject to high volatility, as the share price
            may be influenced by a variety of factors, such as news events, rumours, or market sentiment. This can lead
            to significant price swings, which can be difficult to predict or control.
        </p>
        <p class="paragraph2">4. Fraud and scams: Delisted companies may be more vulnerable to fraud and scams, as they
            may be less closely scrutinized by regulators and investors. As such, investors need to be particularly
            careful when investing in delisted shares and do their due diligence to avoid fraudulent or deceptive
            schemes.
        </p>
        <p class="paragraph">5. Legal and regulatory risks: Delisted companies may be subject to legal and regulatory
            risks, such as lawsuits, fines, or penalties, which can negatively impact the company's financial health and
            future prospects. As such, investors need to be aware of these risks and evaluate them carefully when
            considering investing in delisted shares.
        </p>

        <h1 class="title">How to Invest in a Delisted Stock?</h1>
        <p class="paragraph2">At WWIPL Investing in a delisted stock can be easy and fast. Here are some steps you can
            take:
        </p>
        <p class="paragraph2">Research the company: Before investing in a delisted stock, it's important to do your due
            diligence and research the company's financials, management, and prospects.
        </p>
        <p class="paragraph2">You can use online resources such as financial news websites, company filings, and analyst
            reports to get more information about the company.
        </p>
        <p class="paragraph2">Determine the price: The price of a delisted stock may be lower than the original value,
            so it's important to determine the current market price.
        </p>
        <p class="paragraph2">Buy the stock: If you decide to invest in a delisted stock, you can buy the stock online
            through our website or call our Relationship Manager.
        </p>
        <p class="paragraph">Overall, investing in a delisted stock can be challenging, but with proper research and
            risk management, it can also be a potentially rewarding opportunity for investors.
        </p>

        <h1 class="title">Top 10 delisted companies in India:</h1>
        <p class="paragraph2">1. Capgemini Technology Services India Limited: A subsidiary of French multinational
            Capgemini, this IT services company was delisted in 2020 after a successful buyback offer.
        </p>
        <p class="paragraph2">2. Nayara Energy Limited: Formerly known as Essar Oil Limited, Nayara Energy is an Indian
            oil company that was delisted in 2018 after a successful acquisition by Russian oil company Rosneft.
        </p>
        <p class="paragraph2">3. Atlas Copco India Limited: A subsidiary of Swedish industrial group Atlas Copco, this
            manufacturing company was delisted in 2020 after a successful buyback offer.
        </p>
        <p class="paragraph2">4. Hexaware Technologies Limited: An IT services company based in Mumbai, Hexaware
            Technologies was delisted in 2020 after a successful buyback offer by its promoter group.
        </p>
        <p class="paragraph2">5. Anheuser Busch Inbev India Limited: A subsidiary of Belgian brewing company AB InBev,
            this beer company was delisted in 2019 after being acquired by Indian brewing company Anadolu Efes.
        </p>
        <p class="paragraph2">6. ESL Steel Limited: A steel manufacturing company based in Kolkata, ESL Steel was
            delisted in 2019 after being acquired by mining and steel company Vedanta Limited.
        </p>
        <p class="paragraph2">7. Philips India Limited: A subsidiary of Dutch electronics company Philips, this consumer
            electronics company was delisted in 2013 after being acquired by Japanese conglomerate Funai Electric.
        </p>
        <p class="paragraph2">8. Otis Elevator India Limited: A subsidiary of American company Otis Elevator, this
            elevator and escalator company was delisted in 2020 after a successful buyback offer.
        </p>
        <p class="paragraph2">9. Carrier Airconditioning and Refrigeration Limited: A subsidiary of American company
            Carrier, this HVAC company was delisted in 2019 after being acquired by Indian conglomerate Wipro.
        </p>
        <p class="paragraph">10. Infinite Computer Solutions India Limited: An IT services company based in Bangalore;
            Infinite Computer Solutions was delisted in 2019 after a successful buyback offer.
        </p>
        <p class="paragraph">Welcome to Company name delisted share services. We understand that there may be questions
            you have regarding delisted shares and their implications. Here are some of the frequently asked questions
            we receive:</p>

        <div class="accordion-overall" id="accordionOverall">
            <!-- Left Column -->
            <div class="accordionc1">
                <div class="accordion" id="accordionLeft">
                    <!-- 5 Accordions Left -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading1">
                            <button class="accordion-button" type="button">
                                Q1. What is a Delisted Stock?
                            </button>
                        </h2>
                        <div id="leftCollapse1" class="accordion-collapse">
                            <div class="accordion-body">A delisted stock is a share that has been removed from a stock
                                exchange due to regulatory issues or company decisions. It can still be traded
                                over-the-counter but with lower liquidity and higher risk.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading1">
                            <button class="accordion-button" type="button">
                                Q3. What is a Delisted Stock?
                            </button>
                        </h2>
                        <div id="leftCollapse1" class="accordion-collapse">
                            <div class="accordion-body">A delisted stock is a share that has been removed from a stock
                                exchange due to regulatory issues or company decisions. It can still be traded
                                over-the-counter but with lower liquidity and higher risk.</div>
                        </div>
                    </div>
                    <!-- Repeat for 12 more -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading2">
                            <button class="accordion-button">
                                Q5. Do I lose money if a share is delisted from Stock Exchange?
                            </button>
                        </h2>
                        <div id="leftCollapse2" class="accordion-collapse">
                            <div class="accordion-body">You don’t automatically lose money if a share is delisted, but
                                its value may drop due to reduced liquidity and investor confidence. Selling it becomes
                                harder and often at a lower price.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading3">
                            <button class="accordion-button" type="button">
                                Q7. Who can invest in Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="leftCollapse3" class="accordion-collapse">
                            <div class="accordion-body">In India, Pre-IPO shares can be purchased by high-net-worth
                                individuals (HNIs), institutional investors, and eligible retail investors through
                                authorized platforms. These investments carry higher risk but potential early-stage
                                rewards.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading4">
                            <button class="accordion-button" type="button">
                                Q9. Is it legal to buy and sell delisted Sharers?
                            </button>
                        </h2>
                        <div id="leftCollapse4" class="accordion-collapse">
                            <div class="accordion-body">Yes, it is legal to buy and sell delisted shares, but not on
                                regular stock exchanges. They can be traded privately through over-the-counter (OTC)
                                deals or off-market transactions.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading5">
                            <button class="accordion-button" type="button">
                                Q11. What is the Delisting of Stock & why it occurs?
                            </button>
                        </h2>
                        <div id="leftCollapse5" class="accordion-collapse">
                            <div class="accordion-body">Delisting of a stock means its removal from a stock exchange,
                                making it unavailable for regular trading. It occurs due to regulatory non-compliance,
                                mergers, or voluntary company decisions.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading6">
                            <button class="accordion-button" type="button">
                                Q13. How are IPO shares taxed?
                            </button>
                        </h2>
                        <div id="leftCollapse6" class="accordion-collapse">
                            <div class="accordion-body">IPO shares are taxed as capital gains based on the holding
                                period. If sold within one year, gains are short-term and taxed at 15%; after one year,
                                they're long-term and taxed at 10% if gains exceed ₹1 lakh.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading7">
                            <button class="accordion-button" type="button">
                                Q15. What is the benefit of pre-IPO?
                            </button>
                        </h2>
                        <div id="leftCollapse7" class="accordion-collapse">
                            <div class="accordion-body">The main benefit of pre-IPO investing is the opportunity to buy
                                shares at a lower valuation before the company goes public. This can lead to significant
                                returns if the stock performs well post-IPO.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading8">
                            <button class="accordion-button" type="button">
                                Q17. Who can invest in Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="leftCollapse8" class="accordion-collapse">
                            <div class="accordion-body">In India, pre-IPO shares can be invested in by high-net-worth
                                individuals (HNIs), institutional investors, and certain eligible retail investors
                                through authorized platforms. These investments typically carry higher risk and
                                potential for higher returns.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading9">
                            <button class="accordion-button" type="button">
                                Q19. What is the minimum investment for Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="leftCollapse9" class="accordion-collapse">
                            <div class="accordion-body">The minimum investment for pre-IPO shares in India typically
                                starts around ₹10,000 to ₹50,000, depending on the platform and specific offering.
                                Institutional investors may have higher minimums, starting from ₹50 lakh.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading10">
                            <button class="accordion-button" type="button">
                                Q21. What are the advantages of investing in Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="leftCollapse10" class="accordion-collapse">
                            <div class="accordion-body">Investing in pre-IPO shares in India offers the potential for
                                high returns by buying at lower valuations before the company goes public. It also
                                provides early access to promising companies with growth potential.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="leftHeading11">
                            <button class="accordion-button" type="button">
                                Q23. What is the lock-in period for Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="leftCollapse11" class="accordion-collapse">
                            <div class="accordion-body">
                                The lock-in period for pre-IPO shares in India typically ranges from 6 to 12 months.
                                This period depends on the type of investor and the specific pre-IPO agreement.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="accordionc2">
                <div class="accordion" id="accordionRight">
                    <!-- 11 Accordions Right -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading1">
                            <button class="accordion-button" type="button">
                                Q2. What happens when a company gets delisted from a Stock Exchange?
                            </button>
                        </h2>
                        <div id="rightCollapse1" class="accordion-collapse">
                            <div class="accordion-body">When a company gets delisted from a stock exchange, its shares are no longer traded on that platform. Investors may still trade them through over-the-counter (OTC) markets, but with lower liquidity.</div>
                        </div>
                    </div>

                    <!-- Repeat for 4 more -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading2">
                            <button class="accordion-button" type="button">
                                Q4. Can I buy a Delisted Stock?
                            </button>
                        </h2>
                        <div id="rightCollapse2" class="accordion-collapse">
                            <div class="accordion-body">Yes, you can buy delisted stocks, but they are no longer traded on major exchanges. They can be bought and sold through over-the-counter (OTC) markets or private transactions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading3">
                            <button class="accordion-button" type="button">
                                Q6. How do I buy Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="rightCollapse3" class="accordion-collapse">
                            <div class="accordion-body">To buy pre-IPO shares in India, you can invest through authorized platforms, brokers, or through private equity firms. These shares are typically available to high-net-worth individuals (HNIs) and institutional investors.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading4">
                            <button class="accordion-button" type="button">
                                Q8. Can I get a loan against my delisted Stocks?
                            </button>
                        </h2>
                        <div id="rightCollapse4" class="accordion-collapse">
                            <div class="accordion-body">It is difficult to get a loan against delisted stocks as they have lower liquidity and market value. Most financial institutions do not accept delisted shares as collateral.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading5">
                            <button class="accordion-button" type="button">
                                Q10. What happens to shareholders' delisted Stocks when a company is delisted?
                            </button>
                        </h2>
                        <div id="rightCollapse5" class="accordion-collapse">
                            <div class="accordion-body">When a company is delisted, shareholders retain ownership of their stocks but can no longer trade them on major exchanges. They may sell them through over-the-counter (OTC) markets or private transactions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading6">
                            <button class="accordion-button" type="button">
                                Q12. What Happends to Pre Ipo Shares After IPO?
                            </button>
                        </h2>
                        <div id="rightCollapse6" class="accordion-collapse">
                            <div class="accordion-body">After an IPO, pre-IPO shares can be sold on the stock exchange once the lock-in period expires. They are then treated like any other publicly traded stock.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading7">
                            <button class="accordion-button" type="button">
                                Q14. When can I sell my Pre-IPO shares?
                            </button>
                        </h2>
                        <div id="rightCollapse7" class="accordion-collapse">
                            <div class="accordion-body">You can sell your pre-IPO shares once the lock-in period expires, which typically ranges from 6 to 12 months after the IPO. Afterward, they can be traded on the stock exchange.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading8">
                            <button class="accordion-button" type="button">
                                Q16. How do I buy Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="rightCollapse8" class="accordion-collapse">
                            <div class="accordion-body">In India, pre-IPO shares can be purchased through authorized platforms, brokers, or private equity firms. Typically, high-net-worth individuals (HNIs) and institutional investors are eligible to invest in them.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading9">
                            <button class="accordion-button" type="button">
                                Q18. What are the risks associated with investing in Pre-IPO shares in India?
                            </button>
                        </h2>
                        <div id="rightCollapse9" class="accordion-collapse">
                            <div class="accordion-body">Investing in pre-IPO shares in India carries risks such as high volatility, lack of liquidity, and the potential for the company to underperform after going public. Additionally, pre-IPO investments are typically less regulated.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading10">
                            <button class="accordion-button" type="button">
                                Q20. Are Pre-IPO shares in India regulated by the Securities and Exchange Board of India
                                (SEBI)?
                            </button>
                        </h2>
                        <div id="rightCollapse10" class="accordion-collapse">
                            <div class="accordion-body">Pre-IPO shares in India are not directly regulated by SEBI, but the companies offering them must comply with SEBI regulations once they go public. The investment process is often facilitated through authorized platforms or brokers.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading11">
                            <button class="accordion-button" type="button">
                                Q22. Can Pre-IPO shares be sold before the IPO?
                            </button>
                        </h2>
                        <div id="rightCollapse11" class="accordion-collapse">
                            <div class="accordion-body">Pre-IPO shares can be sold before the IPO, but only through private transactions or over-the-counter (OTC) markets. These sales are typically limited to accredited investors and have lower liquidity.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rightHeading11">
                            <button class="accordion-button" type="button">
                                Q24. What is the process for selling Pre-IPO shares after the IPO?
                            </button>
                        </h2>
                        <div id="leftCollapse12" class="accordion-collapse">
                            <div class="accordion-body">After the IPO, pre-IPO shares can be sold on the stock exchange once they are listed. Investors can sell their shares through a broker, following standard trading procedures.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reach-out">
            <p class="reach-out-para">
                Reach out to us
                <span class="reach-out-title">@0731-4025544, 0731-4025545, +91-9669999444, +91-7999252591</span>
            </p>
            <p class="reach-out-para">Our expert would be happy to provide you personal assistance for your queries.</p>
        </div>
    </div>
    </article>
  </main>
{% endblock %}
