{% extends "baseStructureSM.html" %}
{% block title %}Broker{% endblock %}

{% block subtitle %}Broker{% endblock %}

{% block SMprofile_content %}
<div class="container my-4">
  <div class="user-portfolio-top">
    <div class="user-dashboard-heading"><h3>{{ view.object.pk|yesno:"Edit Broker,Add Broker" }}</h3></div>
  </div>
  <form method="post" class="row g-3" style="max-width: 600px; padding-bottom: 10px;">
    {% csrf_token %}
    
    {% for field in form.visible_fields %}
      <div class="col-md-6">
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="text-danger small">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
{% endblock %}
