{% load static %}
<style>
    /* Footer Styles */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Inknut+Antiqua&display=swap");


.footer {
  background-color: rgba(14, 33, 63, 1);
  color: white;
  font-family: 'Newsreader', serif;
  width: 100%;
}

.footer-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 40px 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
}
.footer-logo-full
{
  width: 200px;
}

.footer-logo-full img {
  width: 100%;
  height: auto;
}

.column-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-link:hover {
  color: #ffffff;
}

.highlight-head {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

/* Style for address, email, phone */
.footer-contact {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
  line-height: 1.6;
}

.footer-contact strong {
  color: #ffffff;
}


@media (min-width: 320px) and (max-width: 767px) {
  .footer {

  }
  .footer-container{
    padding: 40px 20px;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 25px;
  }

  .footer-logo-full {
    margin-bottom: 20px;
    /* text-align: center; */
    width: 100%;
  }

  .footer-logo-full img {
    width: 130px;
  }

  .column-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer-column address,
  .footer-column p {
    font-size: 16px;
  }
}

.social-iocons-footer a
{
  margin-right: 2px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  padding: 15px 50px;
  border-top: 1px solid #2a2a2a;
  background-color: #081831;
  flex-wrap: wrap;
}
.footer-bottom a {
  color: #39B54A;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-left,
.footer-right {
  font-family: 'Newsreader', serif;
}
@media (max-width: 576px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-size: 12px;
  }
}

</style>
<footer class="footer">
    <div class="footer-container">
      <div class="footer-content">
        <section class="footer-column logo-column">
          <div class="footer-logo-full">
            <img src="{% static 'Media/images/footer-logo.png' %}" alt="logo">
          </div>
        </section>
  
        <section class="footer-column quick-links-column">
          <h3 class="column-title">Quick Links</h3>
          <nav class="footer-nav">
            <ul class="footer-links">
              <li><a href="/" class="footer-link">Home</a></li>
              <li><a href="#" class="footer-link">Companies</a></li>
              <li><a href="#" class="footer-link">Blog</a></li>
              <li><a href="#" class="footer-link">Services</a></li>
              <li><a href="#" class="footer-link">Contact us</a></li>
            </ul>
          </nav>
        </section>
  
        <section class="footer-column company-column">
          <h3 class="column-title">Company</h3>
          <nav class="footer-nav">
            <ul class="footer-links">
              <li><a href="{%  url 'about' %}" class="footer-link">About</a></li>
              <li><a href="#" class="footer-link">Types of Unlisted Companies</a></li>
              <li><a href="#" class="footer-link">Solutions</a></li>
              <li><a href="#" class="footer-link">Why Us</a></li>
              <li><a href="{%  url 'faq' %}" class="footer-link">FAQ</a></li>
              <li><a href="#" class="footer-link">Refund and Cancellation</a></li>
            </ul>
          </nav>
        </section>
  
        <section class="footer-column legal-column">
          <h3 class="column-title highlight-head">Thangiv Consultancy Pvt Ltd</h3>
          <address class="footer-contact">
            No 3543/02, Marsur Village, Anekal, Bangalore, Anekal, Karnataka, India, 562106
          </address>
          <p class="footer-contact"><strong>Email:</strong> info@theangelinvesting.com</p>
          <p class="footer-contact"><strong>Phone:</strong> 9740940369</p>
          <div class="social-iocons-footer">
            <a><img src="{% static 'Media/images/tweeter.png' %}" alt="tweeter"></a>
            <a><img src="{% static 'Media/images/instagram.png' %}" alt="instagram"></a>
            <a><img src="{% static 'Media/images/youtube.png' %}" alt="youtube"></a>
            <a><img src="{% static 'Media/images/facebook.png' %}" alt="facebook"></a>
          </div>
        </section>
      </div>
    </div>
    <!-- <div style="text-align:center; font-size:12px; color:#aaa; margin-top: 20px;">
      © 2025 The Angel Investing. All rights reserved. <br>
      Designed & Developed by <a href="https://evonitsolution.com" target="_blank" style="color:#39B54A; text-decoration: none;">Evon IT Solution</a>
    </div> -->
    <div class="footer-bottom">
      <div class="footer-left">
        © 2025 Thangiv Consultancy Pvt Ltd. All Rights Reserved.
      </div>
      <div class="footer-right">
        Designed & Developed by 
        <a href="https://evonitsolution.com" target="_blank">Evon IT Solution</a>
      </div>
    </div>
  </footer>
  