{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block content %}
<!-- <div class="stock-page-header">
    <h2>Blogs</h2>
</div> -->
<main class="blog-AllBlogs">
    <h2 style="text-align: center;" class="intro-heading" >Blogs</h2>


    <div class="allBlogs-container">
        {% for blog in blogs %}
            <div class="blog-detail-card">
                <div class="blog-details-card-img">
                    {% if blog.banner %}
                        <a href="{% url 'user_blog_detail' blog.id %}">
                            <img src="{{ blog.banner.url }}" alt="Blog Image">
                        </a>
                    {% else %}
                        <a href="{% url 'user_blog_detail' blog.id %}">
                            <img src="{% static 'Media/images/default-blog.jpg' %}" alt="Default Image">
                        </a>
                    {% endif %}
                </div>
                <div class="blog-details-cardHead">
                    <a href="{% url 'user_blog_detail' blog.id %}">
                        <h3>{{ blog.heading }}</h3>
                    </a>
                    <p>{{ blog.short_description|truncatechars:150 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
