{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block content %}
<div class="stock-page-header">
    <h2>Blogs</h2>
</div>
<main class="blog-AllBlogs">
    <div class="allBlogs-container">
        {% for blog in blogs %}
            <div class="blog-detail-card">
                <div class="blog-details-card-img">
                    {% if blog.banner %}
                        <a href="{% url 'user_blog_detail' blog.id %}">
                            <img src="{{ blog.banner.url }}" alt="Blog Image">
                        </a>
                    {% else %}
                        <a href="{% url 'user_blog_detail' blog.id %}">
                            <img src="{% static 'Media/images/default-blog.jpg' %}" alt="Default Image">
                        </a>
                    {% endif %}
                </div>
                <div class="blog-details-cardHead">
                    <a href="{% url 'user_blog_detail' blog.id %}">
                        <h3>{{ blog.heading }}</h3>
                    </a>
                    <p>{{ blog.short_description|truncatechars:150 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
<section class="contact-section">
    <img src="{% static 'Media/images/contact-banner.jpg' %}" class="contact-bg" alt="Contact background">
    <div class="contact-content">
        <h1 class="contact-heading">Contact Us</h1>
        <p class="contact-description">
            If you'd like to learn more about The Angel Investing and how we can assist
            you in navigating your unlisted share investment journey, please get
            in touch with us.
        </p>
    </div>
    <div class="contact-info">
        <p class="contact-info-label">Reach out to us</p>
        <p class="contact-info-details">
        <b>Email:</b> info@theangelinvesting.com, <b>Phone:</b> 9740940369
        </p>
        <p class="contact-assistance">
        Our expert would be happy to provide you personal assistance for your queries.
    </p>
    </div>
</section>
{% endblock %}
