{% extends "baseStructureST.html" %}
{% block title %}Buy Order Summary{% endblock %}


{% block STsubtitle %}Buy Order Summary{% endblock %}

{% block STprofile_content %}
                <table class="STbuyorder-table">
                    <thead>
                        <tr>
                            <th>Sl.no</th>
                            <th>Order_Id</th>
                            <th>Date of Order</th>
                            <th>Date of Execution</th>
                            <th>RM</th>
                            <th>Accounts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ord_01</td>
                            <td>02-04-2025</td>
                            <td>02-04-2025</td>
                            <td>Vishnu</td>
                            <td>Sagar</td>
                        </tr>
                    </tbody>
                </table>
                <table class="STbuyorder-table">
                    <thead>
                        <tr>
                            <th>Customer_name</th>
                            <th>Customer_Id</th>
                            <th>Pan Number</th>
                            <th>Email_id</th>
                            <th>MObile Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nikhil Chavan</td>
                            <td>thangiv_01</td>
                            <td>GHTHD2523M</td>
                            <td>nikhilc@gmail.com</td>
                            <td>7676801529</td>
                        </tr>
                    </tbody>
                </table>
                <table class="STbuyorder-table">
                    <thead>
                        <tr>
                            <th>Broker Name</th>
                            <th>Broker Id</th>
                            <th>Client Id</th>
                            <th>Broker Pan Number</th>
                            <th>Broker Email Id</th>
                            <th>Broker Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Zeroda Brokering Limited</td>
                            <td>12081600</td>
                            <td>72264491</td>
                            <td>-</td>
                            <td>zeroda@gmail.com</td>
                            <td>58965742</td>
                        </tr>
                        <tr>
                            <td>Groww Brokering Limited</td>
                            <td>12081600</td>
                            <td>72264491</td>
                            <td>-</td>
                            <td>groww@gmail.com</td>
                            <td>58965742</td>
                        </tr>
                    </tbody>
                </table>
            <div class="STorder-details-transaction">
                <table class="STbuyorder-table">
                    <thead>
                       <tr>
                            <th>SLNO</th>
                            <th>Broker</th>
                            <th>ISIN Number</th>
                            <th>Stock</th>
                            <th>Buy price</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Action</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>zeroda Brokering limited</td>
                            <td>INE012L01014</td>
                            <td>NNS LTD</td>
                            <td>1850</td>
                            <td>250</td>
                            <td>462500.00</td>
                            <td><button class="STpayment-button">Share Transfer</button></td>
                            <td>Successful</td>
                        </tr>
                         <tr>
                            <td>1</td>
                            <td>zeroda Brokering limited</td>
                            <td>INE012L01015</td>
                            <td>PHILIPS LIGHTING</td>
                            <td>1375</td>
                            <td>100</td>
                            <td>137500.00</td>
                            <td><button class="STpayment-button">Share Transfer</button></td>
                            <td>Successful</td>
                        </tr>
                    </tbody>
                </table>
                <div class="STpayment-process">
                    <h4><Big>Total: </Big>1139500.00</h4>
                    <button class="STpayment-button">Generate Deal Letter</button>
                </div>
            </div>
{% endblock %}