{% extends "baseStructureST.html" %}
{% block title %}Buy Order Summary{% endblock %}


{% block STsubtitle %}Stock Transfer - Buy Order Summary{% endblock %}

{% block STprofile_content %}
        {% if order %}
        <div class="SMtable-head">
            <div class="order-details-transaction">
                <table class="user-portfolio-toptable2">
                    <thead class="user-portfolio-head-admin">
                        <tr>
                            <th>Sl.no</th>
                            <th>Order_Id</th>
                            <th>Date of Order</th>
                            <th>Date of Execution</th>
                            <th>Username</th>
                            <th>User ID</th>
                            <th>Assigned RM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.order_id }}</td>
                            <td>{{ order.timestamp|date:"d-m-Y" }}</td>
                            <td>{{ order.timestamp|time:"h:i A" }}</td>
                            <td>{{ order.user.profile.user.username }}</td>
                            <td>{{ order.user.profile.custom_user_id }}</td>
                            <td>{{ order.user.profile.user.assigned_rm }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="order-details-transaction">
                <h6 style="padding-top: 2%;">Customer Details</h6>
                 <table class="user-portfolio-toptable2">
                    <thead class="user-portfolio-head-admin">
                        <tr>
                            <th>Customer_name</th>
                            <th>Customer_Id</th>
                            <th>Pan Number</th>
                            <th>Email_id</th>
                            <th>MObile Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.user.profile.user.username }}</td>
                            <td>{{ order.user.profile.custom_user_id }}</td>
                            <td>{{ order.user.profile.pan_number }}</td>
                            <td>{{ order.user.email }}</td>
                            <td>{{ order.user.profile.mobile_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="order-details-transaction">
                <h6 style="padding-top: 2%;">CMR Details</h6>
                {% if cmr %}
                     <table class="user-portfolio-toptable2">
                    <thead class="user-portfolio-head-admin">
                            <tr>
                                <th>CMR Broker Name</th>
                                <th>Broker Id</th>
                                <th>Client Id</th>
                                <th>Broker Pan Number</th>
                                <th>Broker Email Id</th>
                                <th>Broker Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ cmr.broker.name }}</td>
                                <td>{{ cmr.broker.broker_id }}</td>
                                <td>{{ cmr.client_id_input }}</td>
                                <td>{{ cmr.broker.pan }}</td>
                                <td>{{ cmr.broker.email }}</td>
                                <td>{{ cmr.broker.contact }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                <p>No broker details found.</p>
                {% endif %}
            </div>

            <div class="order-details-transaction">
                <h6 style="padding-top: 2%;">Bank Details</h6>
                {% if bank_accounts %}
                     <table class="user-portfolio-toptable2">
                    <thead class="user-portfolio-head-admin">
                            <tr>
                                <th>Bank Name</th>
                                <th>Account Holder Name</th>
                                <th>Account Number</th>
                                <th>IFSC Code</th>
                                <th>Account Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in bank_accounts %}
                            <tr>
                                <td>{{ account.bank_name }}</td>
                                <td>{{ account.account_holder_name }}</td>
                                <td>{{ account.account_number }}</td>
                                <td>{{ account.ifsc_code }}</td>
                                <td>{{ account.account_type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <p>No bank account details found.</p>
                {% endif %}
            </div>

            <div class="order-details-transaction">
                <h6 style="padding-top: 2%;">Payment Details</h6>
                 <table class="user-portfolio-toptable2">
                    <thead class="user-portfolio-head-admin">
                       <tr>
                            <th>SLNO</th>
                            <th>Transaction Date</th>
                            <th>Bank Name</th>
                            <th>Amount</th>
                            <th>Balance Amount</th>
                            <th>Screenshot</th>
                            <th>Remarks</th>
                            <th>RM Status</th>
                            <th>AM Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in rm_view.payment_records.all %}
                        <tr>

                        <td>{{ forloop.counter }}</td>

                        <td>{{ payment.date|date:"d-m-Y" }}</td>

                        <td>{{ payment.bank_name }}</td>

                        <td>{{ payment.amount }}</td>

                        <td>{{ payment.remaining_amount }}</td>

                        <td>
                            {% if payment.screenshot %}
                            <a href="{{ payment.screenshot.url }}" target="_blank">👁️‍🗨️</a>
                            {% else %}
                            N/A
                            {% endif %}
                        </td>

                        <td>{{ payment.remark }}</td>

                        <td>{{ payment.get_payment_status_display }}</td>

                        <td>{{ payment.get_AC_Payment_Status_display }}</td>

                        </tr>
                        {% empty %}
                        <tr>
                        <td colspan="9">No payment records found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- transaction details -->
            <div class="order-details-transaction">
                <h6 style="padding-top: 2%;">Transaction Details</h6>
                 <table class="user-portfolio-toptable2">
                    <thead class="user-portfolio-head-admin">
                        <tr>
                            <th>SLNO</th>
                            <th>Broker</th>
                            <th>ISIN Number</th>
                            <th>Stock</th>
                            <th>Order Type</th>
                            <th>Share Price</th>
                            <th>Buy Price</th>
                            <th>Qty</th>
                            <th>Deal Value</th>
                            <th>AM</th>
                            <th>Status</th>
                            <!-- <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in TransactionDetails %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.broker.name }}</td>
                            <td>{{ item.stock.isin_no }}</td>
                            <td>{{ item.stock.company_name }}</td>
                            <td>{{ item.order_type }}</td>
                            <td>{{ item.stock.share_price }}</td>
                            <td>{{ item.price_per_share }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_amount }}</td>
                            <td>{{ item.ACApproved.username }}</td> 
                           <td>
                            {% if user_type == 'ST' %}
                                <form method="post" action="{% url 'ST_User:edit_transaction_st_status' item.id %}">
                                    {% csrf_token %}
                                    <select name="status" class="form-select form-select-sm" onchange="this.form.submit()">
                                        {% for key, label in st_status_choices %}
                                            <option value="{{ key }}" {% if item.status == key %}selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            {% else %}
                                {{ item.get_status_display }}
                            {% endif %}
                            </td>

                            <!-- <td>
                            <a href="{% url 'ST_User:edit_transactionST' item.id %}" class="btn btn-sm btn-outline-primary"> ✏️</a>

                            </td> -->

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">No transaction details available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="STpayment-process">
                    <h4><strong>Deal Value: </strong> {{ order.total_amount }}</h4>
                    <a href="{% url 'ST_User:buyDealLetterrST' %}?order_id={{ order.order_id }}" class="STpayment-button">
                        Generate Deal Letter
                    </a>
                </div>

            </div>
        {% else %}
            <p>No order details found.</p>
        {% endif %}
{% endblock %}