{% extends "baseStructureST.html" %}
{% block title %}Sell Deal Letter{% endblock %}


{% block STsubtitle %}Sell Deal Letter{% endblock %}

{% block STprofile_content %}
            <table class="STbuyorder-table">
                <thead>
                    <tr>
                        <th>Sl.no</th>
                        <th>Order_id</th>
                        <th>Date Of Order</th>
                        <th>Date Of Execution</th>
                        <th>Client_Name</th>
                        <th>Client_id</th>
                        <th>RM</th>
                        <th>View Deal Letter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Order_01</td>
                        <td>02-04-2025</td>
                        <td>02-04-2025</td>
                        <td>Suraj Deshpande</td>
                        <td>1554528</td>
                        <td>Vishnu</td>
                        <td><a class="view" href="{% url 'ST_User:SellerSummaryST' %}">view</a></td>
                    </tr>
                </tbody>
            </table>
{% endblock %}