<!-- user_portfolio/templates/portfolio/PortfolioList.html -->
{% extends "accounts/profile.html" %}
{% block title %}My Profile{% endblock %}
{% load label_tags %}

{% block profile_content %}
<div class="user-porfolio-dashboard">
    <div class="user-portfolio-top">
        <div class="user-dashboard-heading"><h3>Holdings</h3></div>
        <div class="search-details-user">
            <form method="get" class="d-flex" style="gap: 10px;">
                {% if current_filters.advisor %}
                    <input type="hidden" name="advisor" value="{{ current_filters.advisor }}">
                {% endif %}
                {% if current_filters.broker %}
                    <input type="hidden" name="broker" value="{{ current_filters.broker }}">
                {% endif %}
                {% if current_filters.type %}
                    <input type="hidden" name="type" value="{{ current_filters.type }}">
                {% endif %}
                <input type="text" name="search" value="{{ current_filters.search }}" placeholder="Search or type command...">
                <button type="submit">🔍</button>
            </form>
        </div>
        <div class="search-details-dropdown">
            <div class="dropdown">
                {% get_label advisors current_filters.advisor as advisor_label %}
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- {{ advisor_label|default:"Advisor" }} -->
                    {{ selected_advisor.advisor_type|default:"Advisor" }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?{% if current_filters.broker %}broker={{ current_filters.broker }}&{% endif %}{% if current_filters.type %}type={{ current_filters.type }}&{% endif %}{% if current_filters.search %}search={{ current_filters.search }}&{% endif %}">All Advisors</a></li>
                    {% for adv in advisors %}
                        <li><a class="dropdown-item" href="?advisor={{ adv.id }}{% if current_filters.broker %}&broker={{ current_filters.broker }}{% endif %}{% if current_filters.type %}&type={{ current_filters.type }}{% endif %}{% if current_filters.search %}&search={{ current_filters.search }}{% endif %}">{{ adv.advisor_type|upper }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Broker Dropdown -->
            <div class="dropdown">
                {% get_label brokers current_filters.broker as broker_label %}
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- {{ broker_label|default:"Broker" }} -->            
                    {{ selected_broker.name|default:"Broker" }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?{% if current_filters.advisor %}advisor={{ current_filters.advisor }}&{% endif %}{% if current_filters.type %}type={{ current_filters.type }}&{% endif %}{% if current_filters.search %}search={{ current_filters.search }}&{% endif %}">All Brokers</a></li>
                    {% for bro in brokers %}
                        <li><a class="dropdown-item" href="?broker={{ bro.id }}{% if current_filters.advisor %}&advisor={{ current_filters.advisor }}{% endif %}{% if current_filters.type %}&type={{ current_filters.type }}{% endif %}{% if current_filters.search %}&search={{ current_filters.search }}{% endif %}">{{ bro.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div><div style="overflow-x: auto;">
<div style="min-width: 800px;">
    <div class="user-portfolio-table">
        <div class="user-portfolio-toptable">
        <!-- Table Header -->
        {% if holdings %}
        <div class="user-portfolio-head">
            <div>Stock Name</div>
            <div>Quantity</div>
            <div>Avg. Price</div>
            <div>LTP</div>
            <div>Inv. Amt</div>
            <div>Mkt Value</div>
            <div>Overall G/L</div>
            <div>Day’s G/L</div>
        </div>
        {% endif %}
        <!-- Table Rows -->
        {% for h in holdings %}
        <div class="user-portfolio-tbody">
            <div>
                {{ h.stock.company_name }}
                        <span title="Buy {{ stock.company_name }}"
                        onclick='openBuyModal(
                            "{{ h.stock.id }}",
                            "{{ h.stock.company_name|escapejs }}",
                            "{{ h.stock.share_price }}",
                            "{{ h.stock.quantity }}",
                            "{% url 'user_portfolio:buy_stock' h.stock.id %}"
                        )' style="background-color: #49c5b6; color: white; padding: 2px 6px; border-radius: 4px; cursor: pointer; font-size: 12px;">B</span>

                    <span onclick='openSellModal(
                        "{{ h.stock.id }}",
                        "{{ h.stock.company_name|escapejs }}",
                        "{{ h.stock.share_price }}",
                        "{{ h.stock.quantity }}",
                        "{% url 'user_portfolio:sell_stock' h.stock.id %}"
                        )' style="background-color: #a8575b; color: white; padding: 2px 6px; border-radius: 4px; cursor: pointer; font-size: 12px;">S</span>
            </div>
            <div>{{ h.quantity_held }}</div>
            <div>{{ h.avg_price }}</div>
            <div>{{ h.ltp }}</div>
            <div>{{ h.investment_amount }}</div>
            <div>{{ h.market_value }}</div>
            <div style="color: {% if h.total_gain_loss >= 0 %}green{% else %}red{% endif %};">
                {{ h.overall_gain_loss }}<br><span style="font-size: 12px;">{{ h.total_gain_loss_percent }}%</span>
            </div>
            <div style="color: {% if h.daily_gain_loss >= 0 %}green{% else %}red{% endif %};">
                {{ h.day_gain_loss }}<br><span style="font-size: 12px;">{{ h.daily_gain_loss_percent }}%</span>
            </div>
        </div>

        {% endfor %}

        <!-- other Advisor -->

        <!-- Pagination -->
        <div class="user-portfolio-tpaginatioin">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|cut:'page='|cut:'&' %}{% endif %}" class="btn btn-sm btn-outline-secondary me-1">‹ Prev</a>
            {% endif %}

            <span class="mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|cut:'page='|cut:'&' %}{% endif %}" class="btn btn-sm btn-outline-secondary ms-1">Next ›</a>
            {% endif %}
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}
