{% extends "baseStructureRM.html" %}
{% block title %}Buy Order List{% endblock %}

{% block SubTitleRM %}Relationship Manager - Buy Order List{% endblock %}

{% block RMprofile_content %}
    <table class="RMbuyorder-table">
        <thead>
            <tr>
                <th>Sl.no</th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Client Name</th>
                <th>Client ID</th>
                <th>Status</th>
                <th>Stock Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in buy_orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.order_id }}</td>
                <td>{{ order.timestamp|date:"d-m-Y" }}</td>
                <td>{{ order.timestamp|time:"h:i A" }}</td>
                <td>{{ order.user.profile.user.username }}</td>
                <td>{{ order.user.profile.custom_user_id }}</td>
                <td>{{ order.RM_status }}</td>
                <td>
                <a class="view" href="{% url 'RM_User:buyordersummery' order.order_id %}">view</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No buy orders found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
