{% extends "baseStructureRM.html" %}
{% block title %}Shares List{% endblock %}

{% block SubTitleRM %}Dashboard{% endblock %}S


{% block RMprofile_content %}
        <div class="RMbanner">
            Banner
        </div>
        <div class="RMupload-feild">
            <div class="form-group">
                <label for="">Today's Payment Collected</label>
               <input type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label for="">10 Days Payment Collected</label>
                <input type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label for="">Month Payment Collected</label>
                <input type="text" class="form-control" >
            </div>
        </div>
{% endblock %}