{% extends "baseStructureRM.html" %}
{% block title %}Shares List{% endblock %}

{% block SubTitleRM %}Unlisted Shares RM{% endblock %}

{% block RMSearch_content %}
<div class="user-portfolio-top">
    <form method="get" style="display: flex; column-gap: 10px;">
        {% if stocks %}
            <button type="submit" name="download" value="1" style="padding: 2%;">                        
                ⬇️
            </button>
        {% endif %}
        <input type="text" name="q" placeholder="Search by company or industry" value="{{ query }}">
        <button type="submit" style="padding: 2%;">🔎</button>
    </form>
</div>
{% endblock %}

{% block RMprofile_content %}

<div class="SMtable-head">
<div class="SMtable-scroll-container">
  <table class="user-portfolio-toptable1">
    <thead class="user-portfolio-head-admin">
            <tr>
                <th>Sl.no</th>
                <th>Company Name</th>
                <th>Industry</th>
                <th>Conviction Level</th>
                <th>Today's Price</th>
                <th>Yesterday's Price</th>
                <th>Lot_size</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ stock.company_name }}</td>
                <td>{{ stock.sector }}</td>  
                <td>{{ stock.conviction_level }}</td> 
                <td>{{ stock.share_price }}</td> 
                <td>{{ stock.ltp }}</td>  
                <td>{{ stock.lot }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No shares found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
