{% extends "baseStructureAcc.html" %}
{% block title %}Buy Order List{% endblock %}

{% block Accsubtitle %}Accounts Department - Buy Order List{% endblock %}

{% block Accprofile_content %}
<div class="SMtable-head">
<div class="SMtable-scroll-container">
  <table class="user-portfolio-toptable1">
    <thead class="user-portfolio-head-admin">
            <tr>
                <th>Sl.no</th>
                <th>Order ID</th>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Stock</th>
                <th>Quantity</th>
                <th>RM Status</th>
                <th>Acc Status</th>
                <th>ST Status</th>
                <th>Stock Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in buy_orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.order_id }}</td>
                <td>{{ order.user.profile.custom_user_id }}</td>
                <td>{{ order.user.profile.user.username }}</td>
                <td>{{ order.timestamp|date:"d-m-Y" }}</td>
                <td>{{ order.timestamp|time:"h:i A" }}</td>

                <td>{{ order.stock }}</td>
                <td>{{ order.quantity }}</td>
                
                <td>{{ order.RM_status }}</td>
                <td>{{ order.AC_status }}</td>
                <td>{{ order.status }}</td>

                <td>
                <a class="AccView" href="{% url 'Acc_User:buyOrderSummaryAcc' order.order_id %}">View</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No buy orders found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
