{% extends "baseStructureAcc.html" %}
{% block title %}Shares List{% endblock %}


{% block Accsubtitle %}Unlisted Share List{% endblock %}

{% block Accprofile_content %}
            <table class="Accbuyorder-table">
                <thead>
                    <tr>
                        <th>Sl.no</th>
                        <th>Company Name</th>
                        <th>Industry</th>
                        <th>Conviction Level</th>
                        <th>Today's Price</th>
                        <th>Yesterda's Price</th>
                        <th>Lot_size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>NSC LTD</td>
                        <td>Equity Market-Exchange</td>
                        <td>Very High</td>
                        <td>1850</td>
                        <td>1850</td>
                        <td>250</td>
                    </tr>
                </tbody>
            </table>
{% endblock %}